<div class="container">

  <div class="card-show">
    <div>
      <h2> Ingredient List for <%=  @cocktail.name %> </h2>


        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li> <%= "#{dose.ingredient.name} : #{dose.description}" %>  <%= link_to "Delete" , dose_delete_path(dose), method: :delete %></li>

          <% end %>
        </ul>

      <%= link_to "Add Dose" , new_cocktail_dose_path(@cocktail), :class => "btn btn-primary" %>

    </div>
    <% if @cocktail.picture.attached? %>
    <div>
      <%= cl_image_tag @cocktail.picture.key, crop: :fill %>
    </div>
    <% end %>
  </div>

  <div class="edit-options">
    <%= link_to "Edit " , edit_cocktail_path(@cocktail), :class => "btn btn-primary" %>
    <%= link_to "Delete " , cocktail_path, method: :delete, :class => "btn btn-danger" %>
  </div>

</div>




